@use "../../theme";

.colored-button-cont {
  width: 100%;
  margin: 10px 5px 20px 5px;
}

.colored-button {
  @include theme.box-style();

  border: none;
  padding: 15px;
  width: 100%;
  margin: 0;
  cursor: pointer;
  background: none;

  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;

  position: relative;
  overflow: hidden;
}